html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: fixed;
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#mainContent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}


.button {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: auto;
  font-size: 14px;
  padding: 10px 15px;
  background: #fff;
  
  transition: box-shadow .3s;

  background: #daf;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
}
.button:hover {
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, .02);
}
