html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: fixed;
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}