html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: fixed;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

:root {
  --sideBarWidth: 300px;
}


#sideBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: calc(var(--sideBarWidth));

  padding: 20px;
  border-right: 2px dashed #daf;
}
  
  #sideBar .item {
    margin-bottom: 20px;
  }
  
  #sideBar .item.appLogo {
    margin-bottom: 40px;
  }
  #sideBar .item .appLogo {
    color: #daf; 
    font-size: 20px; 
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: italic;
  }
  #sideBar .item > .appLogo::after {
    position: absolute;
    left: 25px;
    top: 45px;
    content: '';
    width: 100px;
    height: 3px;
    background: #daf;
  }

  #sideBar .item .button {
    margin: 0;
  }



















#mainContent {
  position: absolute;
  left: var(--sideBarWidth);
  top: 0;
  width: calc(100vw - var(--sideBarWidth));
  height: 100vh;
  overflow: auto;
}


.button {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: auto;
  font-size: 14px;
  padding: 10px 15px;
  
  transition: box-shadow .3s;

  background: #daf;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
}
.button:hover {
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, .02);
}






.textHolder {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: auto;
  font-size: 14px;
  padding: 10px 0px;
  color: #666;
  
  text-transform: uppercase;
}
