#mainContent > .page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;

  padding: 30px;
  padding-top: 0;

  transition: opacity .3s, margin-top .3s;
}

#mainContent > .page.hide { 
  opacity: 0;
  pointer-events: none;
  margin-top: 30px;
}

#mainContent > .page > .pageHeader {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
}

#mainContent > .page > .pageHeader .titleHolder {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #222;
  font-style: italic;
  display: inline;
}

#mainContent > .page > .pageHeader .titleHolder::after {
  position: absolute;
  left: 0;
  top: 25px;
  content: '';
  width: 100px;
  height: 3px;
  background: #daf;
}


#mainContent > .page > .pageHeader .button, 
#mainContent > .page > .pageHeader .inputField {
  margin: 0;
  margin-left: 10px;
  float: right;
}





/* === CSVPage === */
.page.uploadCSVPage .CSVInputField {
  margin: 20px;
  width: calc(100% - 20px * 2);
  height: calc(100vh - 50px * 2 - 50px - 200px);
  
  border: 1px solid #ddd;
  text-align: center;
  padding: 50px;
  border: 1px solid #daf;
}












/* === TransactionListViewerPage === */

.page.transactionListViewerPage .UITableWrapper.transactionTable {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}


.transactionListViewerPage .transactionTable  .UITable .rowElement:nth-child(5) {
  white-space: normal;
}


.page.transactionListViewerPage .UITableWrapper.transactionTable .dateHolder {
  padding-left: 10px;
  border-left: 3px solid transparent;
}
.page.transactionListViewerPage .UITableWrapper.transactionTable .dateHolder.tagManuallySet {
  border-left: 3px solid #333;
}
.page.transactionListViewerPage .UITableWrapper.transactionTable .dateHolder.tagAutoDetected {
  border-left: 3px solid #f00;
}








/* === TagOverviewPage === */

.page.tagOverviewPage .UITableWrapper.tagOverviewTable {
  width: 200vw;
}




/* === TagManagementPage === */




.page.tagManagementPage .overviewHolder {
  position: relative;
  display: flex;
  margin-left: 20px;
  width: calc(100% - 40px);
  height: auto;

  padding: 20px 0;
  border-bottom: 1px solid #ddd;

}

.page.tagManagementPage .overviewHolder .balanceHolder {
  position: relative;
  font-size: 40px;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-style: italic;
  margin-right: 60px;
  padding-right: 20px;
}

.page.tagManagementPage .overviewHolder .balanceHolder.available {
  padding-left: 50px;
  border-left: 1px solid #eee;
  opacity: .5;
}


.page.tagManagementPage .overviewHolder .balanceHolder:before {
  content: 'CURRENT BALANCE';
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 12px;
}

.page.tagManagementPage .overviewHolder .balanceHolder.available:before {
  content: 'AVAILABLE BALANCE';
}

.page.tagManagementPage .overviewHolder .UIButton {
  right: 0;
}





.page.tagManagementPage .tagListHolder {
  position: relative;
  margin: 20px;


  display: grid;
  grid-template: repeat(10, auto) / repeat(3, calc((100% - 40px * 2) / 3));
  grid-gap: 40px;

}

.page.tagManagementPage .tagListHolder .tagPanel {
  position: relative;
  padding: 20px;
  background: #fefefe;

  border: 1px solid #eee;
  border-bottom: 3px solid red;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, .03);

  opacity: 0;
  margin-top: 20px;
  animation: panelFadeIn .45s;
  animation-fill-mode: forwards;

  cursor: pointer;
}


@keyframes panelFadeIn {
  0% {
    opacity: 0;
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}




.page.tagManagementPage .tagListHolder .tagPanel:nth-child(3n) {
  border-right: none;
  }



.page.tagManagementPage .tagListHolder .tagPanel .tagTitleHolder {
  position: relative;
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  height: 30px;
}



  .page.tagManagementPage .tagListHolder .tagPanel .tagTitleHolder .tagNameHolder {
    font-size: 16px;
    line-height: 30px;
  }
  .page.tagManagementPage .tagListHolder .tagPanel .tagTitleHolder .tagIndicator {
    margin: 6px;
    height: 20px;
    width: 20px;
  }

.page.tagManagementPage .tagListHolder .tagPanel .savingInfoHolder {
  position: relative;
  margin-top: 5px;
  padding-left: 38px;

  font-size: 14px;
  color: #555;
}





.page.tagManagementPage .tagListHolder .tagPanel.addTagPanel .tagTitleHolder {
  height: 100%;
}
.page.tagManagementPage .tagListHolder .tagPanel.addTagPanel .tag {
  position: absolute;
  height: 30px;
  transform: translateY(-50%);
  top: 50%;
}

.page.tagManagementPage .tagListHolder .tagPanel.addTagPanel .tagIndicator {
  margin-top: -6px;
  font-size: 30px;
  color: #777;
  border: 1px solid transparent;
}







.UIPopupHolder.createTagPopup .dropDownButton {
  display: inline-flex;
  padding-right: 15px;
}


.UIPopupHolder.createTagPopup .UIInputHolder {
  width: 100%;
}


.UIPopupHolder.createTagPopup .UITagFilterBuilder .statementHolder {
  max-height: calc(100vh - 400px);
}




/* === TagPage === */

.page.tagPage .expensesGraph {
  position: relative;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #eee;
}


.page.tagPage .pageHeader .UIButton.removeButton {
  margin-left: 20px;
  margin-right: -10px;
}











/* === Budget Page === */

.page.budgetManagementPage .UITableWrapper {
  margin-left: 20px;
  width: calc(100vw - var(--sideBarWidth) - 200px);
  min-width: 400px;
}

.page.budgetManagementPage .UITableWrapper .UITable {
  width: 100%;
}

.UIPopupHolder.manageBudgetPopup .budgetTable {
  height: calc(100vh - 200px);
  overflow: auto;
}


.page.budgetManagementPage .UITableWrapper .UITable .inputContainer > * {
  float: left;
}

.page.budgetManagementPage .UITableWrapper .UITable .UIInputHolder {
  width: 80px;
  box-shadow: none;
  margin-right: 5px;
}
.page.budgetManagementPage .UITableWrapper .UITable .editBudgetButton {
  width: 25px;
  height: auto;
  padding: 3px;
  margin: 5px;
  margin-right: 200px;

  cursor: pointer;
  opacity: .5;
}




