.UIStatusMessage {
  position: fixed;
  float: bottom;
  left: 0;
  bottom: 0;
  margin: 20px;
  width: auto;
  height: auto;

  background: #daf;
  padding: 20px 15px;

  box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
  transition: transform .3s, bottom .3s, opacity .3s;
}


.UIStatusMessage.hide {
  transform: scale(.8);
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}

.UIStatusMessage .UIText {
  color: #fff;
}