
table.UITable {
	border-collapse: collapse;
}
.UITable > tr.tableRow:nth-child(even) { 
	background-color: #dddddd;
}

.UITable > .tableRow > .rowElement {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 12px;
  overflow: auto;
  white-space: nowrap;
}
