
.UITableWrapper {
}

.UITableWrapper > table.UITable {
	border-collapse: collapse;
}



.UITable > tr.tableRow {
  border-bottom: 1px solid #ddd;
}
.UITable > tr.tableRow:nth-child(even) { 
}

.UITable > .tableRow > .rowElement {
  position: relative;
  padding: 5px 10px;

  text-align: left;
  font-size: 12px;
  white-space: nowrap;
}

.UITable > .tableRow > .rowElement {
  line-height: 25px;
}