


.UITableWrapper.infiniteScroll {
  max-height: 100vh; 
  overflow: auto !important;

  --scrollMargin: 1000px;
}
.UITableWrapper.infiniteScroll::-webkit-scrollbar {
  display: none;
}


.UITableWrapper > table.UITable {
	border-collapse: collapse;
}



.UITable.UIHeaderTable > tr.tableRow, 
.UITable > tr.tableRow:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.UITable > .tableRow > .rowElement {
  position: relative;
  padding: 5px 10px;

  text-align: left;
  font-size: 12px;
  white-space: nowrap;
}

.UITable > .tableRow > .rowElement {
  line-height: 25px;
}


.UITableWrapper.infiniteScroll .UITable.UIHeaderTable {
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 10;
}

.UITableWrapper.infiniteScroll .UITable:not(.UIHeaderTable) > .tableRow:first-child {
  border-top: var(--scrollMargin) solid transparent;
}
.UITableWrapper.infiniteScroll .UITable:not(.UIHeaderTable) > .tableRow:last-child {
  border-bottom: var(--scrollMargin) solid transparent;
}