

.UITagFilterBuilder {

}


.UITagFilterBuilder .UIText {
  margin-bottom: 5px;
  font-size: 12px;
}

.UITagFilterBuilder .statementHolder {
  overflow: auto;
}



.UIFilterRule {
  display: flex;
  margin-left: 5px;
  pointer-events: none;
  transition: margin-top .3s, opacity .3s;
}
  .UIPopupHolder:not(.hide) .UIFilterRule > * {
    pointer-events: all;
  }

.UIFilterRule.removeAnimation {
  margin-top: -50px;
  opacity: 0;
}
.UIFilterRule.removeAnimation:not(:first-child) {
  margin-top: -35px;
}
.UIFilterRule.removeAnimation:first-child:last-child {
  margin-top: -70px;
}


.UIFilterRule.removeAnimation::before {
  opacity: 0;
  margin-top: -10px;
}


.UIFilterRule:not(:first-child) {
  margin-top: 15px;
}

.UIFilterRule:not(:first-child)::before {
  position: relative;
  margin-left: 0px;
  margin-top: -14px;
  margin-right: -22px;

  content: 'AND';
  font-size: 10px;
  color: #777;
}

/* Last Child: add button */


.UIFilterRule:last-child::after {
  position: relative;
  margin-top: 35px;
  right: calc(100% - 74.5px);
  margin-left: -75px;

  height: 20px;
  padding: 0 10px;

  border: 1px solid #eee;


  content: '+ Add rule';
  white-space: nowrap;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  color: #777;
}

.UIPopupHolder:not(.hide) .UIFilterRule:last-child::after {
  pointer-events: all;
}


  .UIFilterRule .dropDownButton {
    border-right-width: 0;
  }
  .UIFilterRule .UIInputHolder {
    font-size: 12px;
  }


  .UIFilterRule .removeButton {
    height: 35px;
    width: 68px;
    padding: 10px 0px;
    text-align: center;
  }









.UIFilter_ANDSet {
  border-left: 3px solid #daf;
  margin-bottom: 15px;
}



.UITagFilterBuilder .statementHolder > .UIButton {
  font-size: 12px;
  padding-left: 0;
  margin-top: -15px;
}