
.alignRight {
  float: right;
}

.UITitleHolder {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #222;
  font-style: italic;

  margin-bottom: 3px;
}

.UITitleHolder::after {
  position: absolute;
  left: 0;
  top: 30px;
  content: '';
  width: 100px;
  height: 3px;
  background: #daf;
}



.UIText {
  font-size: 16px;
  color: #444;
}



.UICheckboxHolder {
  position: relative;
  width: auto;
  height: 30px;
}
  .UICheckboxHolder label {
    font-size: 14px;
    color: #96b;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
  }

  .UICheckboxHolder input[type="checkbox"] {
    visibility: hidden;
  }

  .UICheckboxHolder label::after {
    position: absolute;
    left: 0;
    top: 0;

    width: 14px;
    height: 14px;
    margin: 6px;

    content: '-';
    color: transparent;
    display: inline-block;

    border: 2px solid #daf;
    border-radius: 20px;
  }

   .UICheckboxHolder label::before {
    position: absolute;
    left: 0px;
    top: 0;

    width: 10px;
    height: 10px;

    margin: 10px;

    content: '-';
    color: transparent;
    display: inline-block;

    background: #daf;
    border-radius: 20px;
    opacity: 0;
  }


  .UICheckboxHolder input[type=checkbox]:checked + label::before {
    opacity: 1;
  }

  






.UIVerticalSpacer {
  position: relative;
  width: 100%;
  pointer-events: none;
}







.UIInputHolder {
  position: relative;
  
  width: auto;
  height: 35px;
  padding: 7.5px;

  font-size: 14px;
  background: #fff;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, .02);
  border: 1px solid #eee;

  margin-top: 0;
  opacity: 1;
  transition: opacity .2s, margin-top .2s;
}

.UIInputHolder.hide {
  pointer-events: none;
  opacity: 0;
  margin-top: -20px;
}








.UIButton {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 14px;
  padding: 10px 15px;
  
  text-transform: uppercase;
  color: #555;

  cursor: pointer;
  transition: box-shadow .3s;
}

.UIButton.filled {
  background: #daf;
  color: #fff;
}

.button:hover {
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, .02);
}





.UIHorizontalSegment {
  position: relative;
  display: inline-block;
  width: 100%;
}

